
.dash-main { padding-top: 61px; min-height: 100%; overflow: hidden; padding-bottom: 10px; }
#chart {border: solid #101a33 1px}
.dv-drp{background: #f3efef;padding: 5px;}
.dropdown ul{min-width: 57px !important;padding: 8px 7px !important;}
.dv-vlm{margin-right: 100px;}