<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    <div class="dv-sidebr">

      <app-sidebar></app-sidebar>

    </div>
  </div>
  <div class="col-md-8">
    <div class="dv-mainapp">

      <div class="dash-main">
       
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{state.Chart}}
           
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li (click)="changeTimeFrame()">Minute</li>
            <li>Day</li>
            <li>Week</li>
           
          </ul>
        </div>


        <div id="chart"></div>
      </div>

    </div>
  </div>
  </div>
</div>