<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="dv-sidebr">

        <app-sidebar></app-sidebar>

      </div>
    </div>
    <div class="col-md-8">
      <div class="dv-mainapp">

        <div class="dash-main">
          <div class="dropdown">
            <div class="row">
          <form [formGroup]="marketForm">

              <div class="col-md-3">
                <select formControlName="InstrumentId"  type="number" class="form-control">
                  <option value="">-- Select a Instrument --</option>
                  <option value={{instru.id}} *ngFor="let instru of instrumentList">
                    {{instru.name}}
                  </option>
                </select>
              </div>
              <div class="col-md-3">
                <select formControlName="Frame" type="text" class="form-control">
                  <option  value="min">Min</option>
                  <option value="hr">Hour</option>
                  <option value="day">Day</option>
                </select>
              </div>
        </form>

            </div>
          </div>

          <div id="chart"></div>
        </div>

      </div>
    </div>
  </div>
</div>